<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ElectronicTaxAccountMapper">

    <select id="selectAccountByCustCode" resultType="com.demo.domain.ElectronicTaxAccount">
        select * from electronic_tax_account
        where cust_code = '' or cust_code is null
        and tenant_id = #{tenantCode}
    </select>

</mapper>
